body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;
  background: $off-white;
  min-width: 400px;

  margin: 0;
  .page-container {
    width: 100%;
    height: auto;
    .splash-color {
      width: 100%;
      background-repeat: no-repeat;
      background-position: contain;

      .splash-page-container {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
