.navbar-container {
  min-height: 100%;
  max-width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar-wrapper {
    height: 2100px;
    width: 100%;
    background-color: transparent;
    background-image: url("../../static/assets/images/dropofcreativity-splash-page-color.png");
    background-position: 100% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .client-name {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: auto;
      }
    }

    .links-wrapper {
      height: 5%;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;

      .link-wrapper {
        height: 90%;
        width: 150px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 1.3em;
          font-weight: 700;
          background-image: linear-gradient($bubblegum-pink, $sunflower-orange);
          font-family: sans-serif;
          color: black;
          text-decoration: none;
        }

        &:hover {
          border: 2px solid;
        }
      }
    }
  }
}
