.navbar-container {
  min-height: 100%;
  max-width: 100%;
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .navbar-wrapper {
    height: 2500px;
    width: 100%;

    background-color: transparent;

    background-image: url("../../static/assets/images/dropofcreativity-splash-page-color.png"),
      url("../../static/assets/images/dsc_6138.jpg");
    background-size: 100% auto, 100% auto;
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .client-name {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: auto;

        width: 75%;

      }
    }

    .links-wrapper {
      height: 5%;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .link-wrapper {
        height: 50px;
        width: 150px;
        cursor: pointer;
        border: 5px solid transparent;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;

        &:hover {
          border: 5px solid $indigo;
        }

        &:active {
          border: 5px solid $dark-indigo;
        }

        a {
          font-size: 1.3em;
          font-weight: 700;
          font-family: sans-serif;
          color: black;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
